<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/homepagelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homepagelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanderLust"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".main.Profile.tentangprofile"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.t1co.wanderlust.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.CetakTiket.CetakTiketActivity"
            android:exported="false" />
        <activity
            android:name=".main.Pembayaran.KonfirmasiPembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".main.Pembayaran.PembayaranPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.StatusPembayaran.StatusPembayaranFragment"
            android:exported="false" />
        <activity
            android:name=".main.Jadwal.JadwalItemActivity"
            android:exported="false" />
        <activity
            android:name=".main.Jadwal.JadwalCariActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".main.ForgotPassword.ForgotPasswordResetPassword"
            android:exported="false" />
        <activity
            android:name=".main.ForgotPassword.ForgotPasswordVerifikasiCodeActivity"
            android:exported="false" />
        <activity
            android:name=".main.ForgotPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".main.LoginRegisterVerifikasi.VerifikasiAkun"
            android:exported="false" />
        <activity
            android:name=".main.PemilihanPaket.PemilihanPaket3Activity"
            android:exported="false" />
        <activity
            android:name=".main.Jadwal.JadwalListActivity"
            android:exported="false" />
        <activity
            android:name=".main.PemilihanPaket.PemilihanPaket1Activity"
            android:exported="false" />
        <activity
            android:name=".main.Pemesanan.PemesananPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.Pemesanan.ListPemesanan"
            android:exported="false" />
        <activity
            android:name=".main.Profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".main.KritikDanSaran.KritikDanSaranPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.Berita.ContohBerita"
            android:exported="false" />
        <activity
            android:name=".main.Galeri.GaleriPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.Profile.ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".main.Dashboard.DashboardNavigation"
            android:exported="false" />
        <activity
            android:name=".main.Dashboard.DashboardNavigation1"
            android:exported="false" />
        <activity
            android:name=".main.Dashboard.DashboardFragment"
            android:exported="false" />
        <activity
            android:name=".main.Home.HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LoginRegisterVerifikasi.RegisterPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.LoginRegisterVerifikasi.LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.Dashboard.DashboardPageActivity"
            android:exported="false" />
    </application>

</manifest>