<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/homepagelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homepagelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanderLust"
        tools:targetApi="31"
        >
        <activity
            android:name=".main.ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".main.DashboardNavigation"
            android:exported="false" />
        <activity
            android:name=".main.DashboardFragment"
            android:exported="false" />
        <activity
            android:name=".main.HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.RegisterPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".main.DashboardPageActivity"
            android:exported="false" />
    </application>


</manifest>